
// VARIABLES 

$colorPrincipal: #040466;
$colorSecundario: #fff661;
$colorBase: #dedede;

$paleta : (
    'principal' :#040466 ,
    'secundario' : #fff661 ,
    'base' : #dedede,
    'oscuro' : black,
);