

/* BODY PAGS EN GENERAL */

* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}




/* HEADERS */

.bgNav {
    background-color: #dedede;
}

.colorTextNav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.alignTextNav ul li{
    text-align: center;
}




/* FOOTERS */

.link-style {
    text-decoration: none;
    font-weight: bold;
}


/* INDEX.HTML */

@media (min-width:768px) {    
    .carousel-inner img {
        width: 100%;
        max-height: 460px;
    }

    .carousel-inner{
    height: 400px;
    }
}

.quienesSomos {
    text-align: center;
    margin: 5px;
    padding: 5%;
}

.quienesSomos p {
    font-size: 25px;
}
.quienesSomos h1 {
    font-weight: bold;
    font-size: 40px;
}

.card.p-3 {
    background-color: #dedede;
    color: black;
    overflow-wrap: normal;
}
.card-title {
    font-weight: bold;
    font-size: 25px;
}

.row {
    padding: 0;
    height: auto;

<<<<<<< HEAD




=======
}



/* SERVICIOS.HTML */
.containerTituloServicios {
    padding: 2%;
}

.containerTituloServicios h1 {
    padding: 0;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}


.tituloServicios {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px;
}


.card-img-top {
    padding: 20%;
}

.card-title-serv {
    font-size: 35px;
}

.btn-color {
    background-color: #dedede;
}


/* CONTACTO.HTML */
.boxMensaje  {
    text-align: center;
}
#tituloContactanos  {
    text-align: center;
}
.tituloVisitarnos {
    text-align: center;
}

.textoDireccionHorarios {
    text-align: center;
}

iframe {
    width: 100%;
    height: 250px;
}
