

/* BODY PAGS EN GENERAL */

* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}




/* HEADERS */

.bgNav {
    background-color: #dedede;
}

.colorTextNav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.alignTextNav ul li{
    text-align: center;
}




/* FOOTERS */

.link-style {
    text-decoration: none;
    font-weight: bold;
}


/* INDEX.HTML */

@media (min-width:768px) {    
    .carousel-inner img {
        width: 100%;
        max-height: 460px;
    }

    .carousel-inner{
    height: 400px;
    }
}

.quienesSomos {
    text-align: center;
    margin: 5px;
    padding: 5%;
}

.quienesSomos p {
    font-size: 25px;
}
.quienesSomos h1 {
    font-weight: bold;
    font-size: 40px;
}

<<<<<<< HEAD



/* SERVICIOS.HTML */

.row {
    padding: 2%;
    width: 100%;
    height: auto;
}

=======
>>>>>>> rama2
.card.p-3 {
    background-color: #dedede;
    color: black;
    overflow-wrap: normal;
}
<<<<<<< HEAD

.card4 img {
    width: 260px;
}

=======
>>>>>>> rama2
.card-title {
    font-weight: bold;
    font-size: 25px;
}

.row {
    padding: 0;
    height: auto;

<<<<<<< HEAD




=======
}



/* SERVICIOS.HTML */
.containerTituloServicios {
    padding: 2%;
}

.containerTituloServicios h1 {
    padding: 0;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}


.tituloServicios {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px;
}


.card-img-top {
    padding: 20%;
}

.card-title-serv {
    font-size: 35px;
}

.btn-color {
    background-color: #dedede;
}


>>>>>>> rama2
/* CONTACTO.HTML */
.boxMensaje  {
    text-align: center;
}
#tituloContactanos  {
    text-align: center;
}
.tituloVisitarnos {
    text-align: center;
}

.textoDireccionHorarios {
    text-align: center;
}

iframe {
    width: 100%;
    height: 250px;
<<<<<<< HEAD
}



































    /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            } */


            /* #003566 AZUL */
            /* #ffc300 AMARILLO */


        /* ESTRUCTURA DE LA PÃGINA*/

        /* .grid-container {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
        } */

        /* HEADER */

        /* .base {
            background-color: #003566;
            display: flex;
            gap: 15px;
            padding: 20px;
            justify-content: space-between;
            margin: 0;
            align-items: center;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .paginas {
            display: flex;
            gap: 15px;
            text-decoration: none;
            list-style: none;
            align-content: center;
        }

        .paginas li a{
            color: white;
            text-decoration: none;
            list-style: none;
        }

        .paginas li a:hover {
            color: #ffc300;
        } */

        /* BODY INTRO*/

        /* .intro {
            background-color: #ffc300;
            display: flex;
            gap: 0px;
            padding: 0px;
            justify-content: center;
            margin: 0;
            align-items: center;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .botonSolicitarCotizacion {
            display: flex;
            justify-content: center;
            animation: efecto-entrada2;
            animation-duration: 1.5s;
            animation-delay: 0s;

        }

        .fotoIntro {
            justify-content: center;
        }

        .textoIntro {
            grid-column-start: 3;
            grid-column-end: 4;
            text-align: center;
            font-size: 20px;
            color: black;
            padding: 7px;
        }

        .boxAnimadoIntro {
            animation-name: efecto-entrada;
            animation-duration: 1.5s;
            animation-delay: 0s;
            background-color: #003566;
            color: white;
            text-align: center;
            font-size: 25px;
            padding: 5px;
        } */

        /* ANIMACIONES */

        /* @keyframes efecto-entrada {
            0% {
                margin-left: 100%;
                width: 300%;
            }
            100% {
                margin-left: 0%;
                width: 100%;
            }
        }

        @keyframes efecto-entrada2 {
            0% {
                margin-right: 100%;
                width: 300%;
            }
            100% {
                margin-right: 0%;
                width: 100%;
            }
        } */


        /* FOOTER */

        /* .footer {
            background-color: #003566;
            display: flex;
            gap: 15px;
            padding: 20px;
            justify-content: space-between;
            margin: 0;
            align-items: center;
            grid-column-start: -3;
            grid-column-end: -1;
            grid-row-start: -2;
            grid-row-end: -1;
        }
        .redes {
            display: flex;
            gap: 15px;
            text-decoration: none;
            list-style: none;
            align-content: center;
        }

        .redes li a{
            color: white;
            text-decoration: none;
            list-style: none;
        }

        .redes li a:hover {
            color: #ffc300;
        } */
=======
}
>>>>>>> rama2
